<%- model_class = Idea -%>
<div class="page-header">
  <h1>
    <%=t '.title', :default => model_class.model_name.human.pluralize %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_idea_path,
            :class => 'btn btn-primary' %>

  </h1>
</div>

<div class="idealist">
  <ol>
    <% @ideas.each do |idea| %>
      <%= render idea %>
    <% end %>
  </ol>
</div>

