/*
BASE - http://smacss.com/book/type-base
"A Base rule is applied to an element using an element selector, a descendant selector, or a child selector, along with
 any pseudo-classes. It doesn't include any class or ID selectors. It is defining the default styling for how that
 element should look in all occurrences on the page."
*/
h1, h2, h3, h4, h5, h6 {
  font-family:"open sans";
  font-weight:800;
  color:#222;
}
body {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}
footer {
	text-align: center;
}