@media (max-width: 767px) {
  // BASE
  body {
    padding:0;
  }
  // LAYOUT
  #page {
    margin:10px;
  }
  // MODULE

  // STATE

  // THEME

  // EVENTS

}

@media (max-width: 500px) {

  body {
    width:100%;
  }

}