
@media (min-width: 980px) {
  $desktopPageWidth:960px;
  // BASE

  // LAYOUT
  #page {
    max-width:$desktopPageWidth;
  }
  #footer {
    .container {
      .row-fluid {
        max-width:$desktopPageWidth;
      }
    }
  }

  // MODULE
  .comment-editor {
    .avatar-column-before { display:inline-block }
    .avatar-column-after {
      display:none;
    }
  }

  // STATE

  // THEME

  // EVENTS

}