@media (max-width: 767px) {
  // BASE
  body {
    padding:0;
  }
  // LAYOUT
  #page {
    margin:10px;
  }
  // MODULE
  .comment-editor {
    .avatar-column-before { display:none }
    .avatar-column-after {
      display:inline-block

    }
    .avatar {
      width:50px;
    }
  }

  // STATE

  // THEME

  // EVENTS

}

@media (max-width: 500px) {

  body {
    width:100%;
  }

}